//- views/pages/home.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
  body
    include ../partials/header

    h1 Main Content
    p Welcome to our dynamic page rendered with Pug and Express.js.

    include ../partials/footer
