//- views/pages/items.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Items List
  body
    h1 Items:
    ul
      each item in items
        li= item
