<!-- views/pages/home.handlebars -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>

<body>
    {{> header}}

    <h1>Main Content</h1>
    <p>Welcome to our dynamic page rendered with Handlebars and Express.js.</p>

    {{> footer}}
</body>

</html>
